.addBookBtnClass{
    width:100%;
    float: right !important;
    /* background-color: #4e65b3 !important; */
    background-color: #4a4bcc !important;
    color: white !important
    /* border: 1px solid #617ee0; */
}
/* 071755 */

.dwnldBtnClass{
    width:15%;
    background-color: gainsboro !important;
    margin-left:20px;
    padding: 0px 0px;
    height: 70%;
}

.download{
    font-size: 1rem !important;
    
}

.plusIcon{
    float:left;
}

.searchContainer{
    margin:0px 0px 0px 0px !important;
    /* width: 100px; */
    
}

.funnel{
    float: left;
}

.searchSize{
    height: 39px !important;
    float: right !important;
    /* width:450px !important; */
    width:300px !important;
    font-size: 13px !important;
    border-bottom: 1px solid rgb(83, 82, 82) !important;
    /* border-left: 1px solid rgb(83, 82, 82) !important; */
    /* border-bottom: 1.7px solid #617ee0 !important; */
    /* color: #617ee0 !important; */
}

.searchIncon{
    /* color: #5771ca!important; */
}

.searchBar, .searchLabel{
    /* border-color: gray !important; */
    border: none !important;
    /* border-bottom: 1px solid gray !important; */
    border-radius: 0 !important;
    box-shadow: none !important;
}

.searchLabel{
    background: #fff !important;
}

.searchBar{
    border-left: 0 !important;
    padding: 6px 9px !important;
    margin-left: -5px !important;
}

.searchBar:focus{
    border-width: 1.5px !important;
    /* border-color: black !important; */
    /* box-shadow: 0.1rem gray   !important; */
}

.filter{
    width:71%;
    float: right;
    /* opacity: 0.8; */
    margin: 0px 20px 0px 0px;
    font-size: 17px !important;
    border: none !important;
    /* color: !important; */
    /* background-color: gainsboro !important; */
    /* border: 1px solid lightgray !important; */
    /* color: green !important; */
}

.spaceAbv{
    margin-top:5px !important;
    /* background-color: #617ee0; */
    /* opacity: 0.3 !important; */
    /* border: 1px solid darkgray; */
}

.filterBtn{
    max-height:200px !important;
    overflow: scroll;
    padding-top:0px !important;
}

.searchFixed{
    position: sticky; 
    top: 0; 
    z-index: 1;
}

.dropdownList{
    padding-left:15px;
    padding-top:3px;
    cursor: pointer;
}

.dropdownList:hover, .filterCancel:hover{
    opacity: 0.7;
}

.selectFilter{
    /* border: 0.7px solid black; */
    padding: 4px;
    width: 140px;
    /* border: 1px solid #617ee0 !important; */
    border: 1px solid rgb(83, 82, 82) !important;
    cursor: pointer
    /* float: left; */
}

.filterCancel{
    font-size: 1.1rem !important;
    float: right;
    cursor: pointer;
    color: rgb(83, 82, 82)!important;
    /* color:  !important; */
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.filterCancel:hover{
    font-size: 1rem !important;
    /* opacity: 0.8; */
}

.displayFilter{
    font-size:14.5px !important;
    font-weight:500;
    padding-left: 8px;
    /* width: 200px !important; */
    /* color: #617ee0 !important; */
    color: rgb(83, 82, 82)!important;
}

.divider{
    padding-left:0px !important;
}

.dropdownMenuFilter{
    padding-left:0px !important;
}

.inputEntry{
    width: 28px;
    height:22px;
    padding-left:4px;
    color: black !important;
    border: 1.7px solid black !important;
}

.alignEntry{
    padding-top: 12px;
}

.entryText{
    font-size: 15px;
    font-weight: 500 !important;
    padding-left: 3px;
    color: black !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content{
    /* margin-top: 17px !important; */
    margin:0px 30px 0px 30px!important;
    /* font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 15px !important;
    /* background-color: aliceblue !important; */
}

.btnFilter{
    border: 1.7px solid rgb(83, 82, 82) !important;
    color: rgb(83, 82, 82)!important;
    width: 135px !important;
}

.filterIcon{
    color: rgb(83, 82, 82)!important;
}

::placeholder {
    /* color: #617ee0 !important;
    opacity: 1;  */
  }

.summary{
    /* color: #617ee0 !important;
    font-weight: 800; */
}

/* .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 30px;
    border: 1px solid black;
    background: gainsboro;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  
  .wrap{
    width: 20%;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */