.noteText{
    font-size: 14px;
}

.errorFormField{
    color:red;
    font-size: 16px;
    padding:5px 0px 5px 0px;
}

.booklist{
    margin-left:40px;
    padding:10px 0px;
    font-weight: 600;
}

.btnColor{
    background-color: #4e65b3 !important;
    color: white !important
}