.inputHover{
    cursor:pointer
}

.font{
    /* font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* width: 500px !important; */
}

/* .customSelectScrollable {
    height: 200px; 
    overflow-y: auto; 
  } */

.errorFormField{
    color:red;
    font-size: 14px;
    padding:5px 0px;
}

.successMsg{
    color:green;
    font-size: 17px;
    /* padding:5px 0px; */
    text-align: center;
}

/* .btnColor{
    /* background-color:black !important; */
    /* outline: 1px solid black; */
/* } */ 

.btnColor{
    background-color: #4e65b3 !important;
    color: white !important
} 

.modalHeading{
    font-size: 20px !important;
    font-weight: 500;
}