.addGenreBtnClass{
    width:100%;
    float: right !important;
    background-color: #4e65b3 !important;
    color: white !important
}

.plusIcon{
    float:left
}

.searchContainer{
    margin:0px 0px 0px 0px;
    /* width: 100px; */
}

.funnel{
    float: left;
}

.searchSize{
    height: 39px !important;
    float: right !important;
    /* width:450px !important; */
    width:300px !important;
    font-size: 13px !important;
    border-bottom: 1px solid rgb(83, 82, 82) !important;
    /* border-left: 1px solid rgb(83, 82, 82) !important; */
    /* border-bottom: 1.7px solid #617ee0 !important; */
    /* color: #617ee0 !important; */
}

.searchBar, .searchLabel{
    /* border-color: gray !important; */
    border: none !important;
    /* border-bottom: 1px solid gray !important; */
    border-radius: 0 !important;
    box-shadow: none !important;
}

.searchLabel{
    background: #fff !important;
}

.searchBar{
    border-left: 0 !important;
    padding: 6px 9px !important;
    margin-left: -5px !important;
}

.searchBar:focus{
    border-width: 1.5px !important;
    /* border-color: black !important; */
    /* box-shadow: 0.1rem gray   !important; */
}

.filter{
    width:71%;
    float: right;
    /* opacity: 0.8; */
    margin: 0px 20px 0px 0px;
    font-size: 17px !important;
    border: none !important;
    /* color: !important; */
    /* background-color: gainsboro !important; */
    /* border: 1px solid lightgray !important; */
    /* color: green !important; */
}

.spaceAbv{
    margin-top:15px !important;
}

.inputEntry{
    width: 28px;
    height:22px;
    padding-left:4px;
    color: black !important;
    border: 1.7px solid black !important;
}

.alignEntry{
    padding-top: 12px;
}

.entryText{
    font-size: 15px;
    font-weight: 500 !important;
    padding-left: 3px;
    color: black !important;
}

.content{
    /* margin-top: 17px !important; */
    margin:0px 30px 0px 30px!important;
    font-size: 15px !important;
    /* font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* background-color: aliceblue !important; */
}