.bookdisplay{
    margin-bottom: 10px !important;
    list-style-type: lower-roman !important;
}

.biPencilSquare{
    /* padding-left: 17px; */
    font-size: 1.1rem;
    color: black;
    cursor: pointer;
}

.badgesize{
    font-size: 11px !important;
}

.content{
    padding:10px;
    margin-left:20px !important;
}

.subcontent{
    padding-top:12px
}

.justify{
    text-align: justify;
}
/* className={index === activeIndex ? 'table-active' : ''} */

.squareFill{
    color: rgb(89, 88, 88) !important;
}

.truncate{
    max-width: 220px !important; /* Adjust max-width as needed */
    /* max-height: 3.6em !important; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* padding-bottom: 20px !important; */
}

.expanded{
    max-width: 670px;
    /* padding: 10px !important; */
    /* max-height: 100px; */
    /* padding: 100px !important; */
}

/* .expanded span{
    padding: 40px !important;
} */

mark{
    background-color: rgba(255, 166, 0, 0.627) !important;
}

.genreBooks{
    padding-bottom: 7em !important;
}

.genreCol{
    /* text-align:start; */
    /* padding-left: 100px; */
}