.loginContainer {
    max-width: 400px;
    max-height: 850px;
    margin: 40px auto;
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 5px;
    /* background-color: #F0F0F0; */
}

.errorFormField{
    color:red;
    font-size: 14px;
    padding:5px 0px;
}

.loginBtn{
    width:200px;
    background-color: #5d5eff !important;
}

.formText{
    font-size: 13px !important;
    text-align: justify;
    padding-left: 15px;
}

.eyeFill{
    margin-left: -45px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    padding-right: 15px;
    float: right;
    cursor: pointer;
}

.fieldBorderColor{
    border: 1px solid #dc3545 !important;
}

.successMsg{
    color:green;
    font-size: 17px;
    /* padding:5px 0px; */
    text-align: center;
}

.failureMsg{
    color:red;
    font-size: 17px;
    /* padding:5px 0px; */
    text-align: center;
}

.loginimg{
    height: 100%;
    width: 110%;
    /* opacity: 0.9; */
}

.imgContainer{
    height: 100vh;
    /* width: 50% */
}

.logoImg{
    width: 70px !important;
    height: 60px !important;
}

.navbarBrand{
    /* margin-top:30px !important; */
    margin: 0 200px;
    margin-top: 200px;
}

.logo{
    
    height: 50px; 
    width: 250px;
}

.arrow{
    /* float:right; */
    /* padding: 8px 10px; */
    /* padding-top: 15px  !important; */
    font-size: 1.1rem;
}

.arrowDiv{
    /* float: right; */
    padding-left: 180px;
    padding-top: 120px;
    /* padding-right: 120px !important; */
}

.homeBtn{
    /* margin-top: 140px; */
    margin-right:40px;
    float:right;
    margin-top: 20px;
}