.navbarHeader{
    /* background-color: navy; */ 
    /* height: 55px; */
    /* background-color: darkblue !important; */
    color: black !important;
    /* background-color: #20358d; */
    /* background-color: #27439c; */
    background-color: #3a4c86;
}

/* .navbarBrand{

} */

.navbarBrand img{
    width:140px;
    height:30px;
    margin-left: 3px;
    margin-top:22px;
}

.navlinks{
    font-size:21px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 28px 5px 28px;
    /* background-color: #5d5eff; */
}

.navLinkColor{
    color: white !important;
}

.navlinkfirst{
    margin-top: 30px;
}

.navLinkColor:hover{
    /* color:  !important; */
    opacity: 0.65;
    /* background-color: #5d5eff; */
}

.logoImg{
    width: 40px !important;
    height: 30px !important;
    padding-top: 0px;
    margin-top: 17px !important;
}

/* .navTextColor{
    color:white !important;
} */

/* .personCircle, .houseFill{
    color: white;
    font-size: 1.4rem;
    
}

.todoHeaderDropdown{
    padding: 0 !important;
}

.todoHeaderDropdownList{
    background-color: #5d5eff !important;
}

.todoHeaderDropdownList:hover{
    opacity: 0.9 !important;
    background-color: #5d5eff !important;
    color: white !important;
    font-size: 22px;
} */